Exercise 2: Create markdown cell with title of the notebook

Create a markdown cell with the title Data Science Tools and Ecosystem using H1 style heading.

Take a screenshot of the markdown cell and name it as 2-title.png

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction

Write an introductory sentence about the notebook such as the follows:

In this notebook, Data Science Tools and Ecosystem are summarized.

Take a screenshot of the markdown cell and name it as 3-intro.png

### Intro - In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 10 - Insert a markdown cell to list Objectives

Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

Take a screenshot of the markdown cell and name it as 10-objectives.png

# **Objectives: some of the key takeaways from the course**

- List popular languages for Data Science 
- List Some of the commonly used libraries used by Data Scientists 
- Lis Some of the popular languages that Data Scientists Use

Exercise 11 - Create a markdown cell to indicate the Author's name

In this markdown cell markdown cell include the following text Author in H2 style heading. Include your name as regular text below the word Author.

Take a screenshot of the markdown cell and name it as 11-authordetails.png

## **Author**
Supreet Suhane

Exercise 4 - Create a markdown cell to list data science languages

Start the cell with an overview line such as:

Some of the popular languages that Data Scientists use are:
Then create an ordered list (i.e. numbered) listing 3 (or more) commonly used languages for data science.

Take a screenshot of the markdown cell and name it as 4-dslanguages.png

Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. R

Exercise 5 - Create a markdown cell to list data science libraries

Add an overview line to the cell like:

Some of the commonly used libraries used by Data Scientists include:
Below this line add an ordered list listing 3 (or more) commonly used libraries in data science.

Take a screenshot of the markdown cell and name it as 5-dslibraries.png

## Some of the commonly used libraries used by Data Scientists include:
1. Pandas - Used for data manipulation and analysis, particularly with structured data like CSVs or SQL databases.
2. NumPy - Provides support for large, multi-dimensional arrays and matrices, and includes mathematical functions to operate on these arrays.
3. Matplotlib - A plotting library used for creating static, animated, and interactive visualizations in Python.
4. Scikit-learn - A library for machine learning that provides simple tools for data mining and data analysis, including algorithms for classification, regression, clustering, and dimensionality reduction.

Exercise 6 - Create a markdown cell with a table of Data Science tools

Create a single column table in this cell with the first row containing the header Data Science Tools. The subsequent three rows in the table should indicate three development environment open source tools used in data science.

Take a screenshot of the markdown cell and name it as 6-dstools.png

| Data Science Tools        |
|---------------------------|
| Jupyter Notebooks         |
| RStudio			        |
| VSCode(Visual Studio Code)|

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

Add a line in this cell with H3 style heading with text like:

Below are a few examples of evaluating arithmetic expressions in Python.

Take a screenshot of the markdown cell and name it as 7-introarithmetic.png

### Below are a few examples of evaluating arithmetic expressions in Python.

- addition = 3 + 5
- subtraction = 9 - 4
- multiplication = 7 * 6
- division = 10 / 2

Exercise 8 - Create a code cell to multiply and add numbers

In this code cell evaluate the expression (3*4)+5.
Insert a comment line before the expression to explain the operation e.g.  This a simple arithmetic expression to mutiply then add integers.
Then execute the cell to ensure the expression returns the expected output of 17.

Take a screenshot of the code cell with output and name it as 8-multiplyandaddintegers.png

In [8]:
# This a simple arithmetic expression to mutiply then add integers"
result = (3 * 4) + 5

result

17

Exercise 9 - Create a code cell to convert minutes to hours

In this code cell write an expression that converts 200 minutes into hours.
Insert a comment line before the expression to explain the operation e.g.  This will convert 200 minutes to hours by diving by 60.
Run the cell to evaluate the expression.

Take a screenshot of the code cell with output and name it as 
9-hourstominutes.png

In [12]:
# This will convert 200 minutes to hours by diving by 60

hours = 200 / 60

hours

3.3333333333333335